@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

@font-face {
  font-family: apple-normal;
  src: url(../src/assets/fonts/AppleSDGothicNeoM.3a44ffb1.ttf);
}

@font-face {
  font-family: apple-bold;
  src: url(../src/assets/fonts/AppleSDGothicNeoB.018066fb.ttf);
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-family: apple-normal;
}

.nav {
  background-color: #f1f4f7;
  width: 100%;
  display: flex;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
}

.nav h2 {
  font-size: 18px;
  color: #188eee;
}

.list {
  padding: 0 18px;
  text-align: left;
  border-bottom: 1px solid #e0e0e5;
}

.list-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-bottom span {
  margin-right: 12px;
}

.regist,
.like {
  display: flex;
  align-items: center;
}
