@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.App {
  text-align: center;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.nav {
  background-color: #dee2e6;
  width: 100%;
  display: flex;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
}

.nav h2 {
  font-size: 18px;
  color: #339af0;
}

.list {
  padding: 0 18px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.list-bottom {
  display: flex;
  align-items: center;
}

.list-bottom span {
  margin-right: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
