@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

@font-face {
  font-family: apple-normal;
  src: url(../src/assets/fonts/AppleSDGothicNeoM.3a44ffb1.ttf);
}

@font-face {
  font-family: apple-bold;
  src: url(../src/assets/fonts/AppleSDGothicNeoB.018066fb.ttf);
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-family: apple-normal;
  padding: 0 22px;
}

.App {
  max-width: 965px;
  margin: auto;
}

.nav {
  width: 100%;
  display: flex;
  padding: 27px 0;
  font-weight: 600;
}

.nav h2 {
  font-size: 22px;
}

.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  font-family: "Noto Sans KR", sans-serif;
}

.list {
  padding: 20px 0;
  text-align: left;
  border-bottom: 1px solid #e0e0e5;
}

.list h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.list .index {
  margin-right: 10px;
}

.list-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-bottom span {
  margin-right: 12px;
}

.regist,
.like {
  font-size: 14px;
  color: #8f929b;
  display: flex;
  align-items: center;
}

/* input css */
.input-container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 36px 60px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.input-container label {
  margin-bottom: 24px;
}

/* modal css */
.modal {
  border-radius: 3px;
  overflow: hidden;
}

.header {
  font-size: 17px;
  font-weight: 400;
  background-color: rgb(63, 133, 63);
  color: #fff;
  padding: 13px 15px;
}

.content {
  background-color: #f7f7f7;
  padding: 22px 15px;
  white-space: pre-line;
}

.content-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.modal .btn {
  margin-top: 12px;
  background-color: #cee0cb;
}
