* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:hover,
a:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}

input {
  width: 100%;
  padding: 9px 0px;
  border: none;
  border-bottom: 1px solid #e0e0e5;
  margin-right: 5px;
  border-radius: 2px;
  outline: none;
}

input:focus {
  border-bottom: 1px solid #55b969b2;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
